@model VinetkiBG.Models.BidingModels.RegisterCreditCarBindingModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center text-primary">Register Credit Card</h1>
<form class="mx-auto half-width col-5" method="post" action="/CreditCard/Register">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="top-border-line primary-separator"></div>
    <div class="form-group">
        <label asp-for="@Model.BankName">Bank Name</label>
        <input asp-for="@Model.BankName" class="form-control" placeholder="Bank Name...">
        <span asp-validation-for="@Model.BankName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.IBAN">IBAN</label>
        <input asp-for="@Model.IBAN" class="form-control"  placeholder="IBAN...">
        <span asp-validation-for="@Model.IBAN" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BIC">BIC</label>
        <input asp-for="@Model.BIC" class="form-control" placeholder="BIC...">
        <span asp-validation-for="@Model.BIC" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.TotalAmount">Total Amount</label>
        <input asp-for="@Model.TotalAmount" class="form-control" placeholder="Total Amount...">
        <span asp-validation-for="@Model.TotalAmount" class="text-danger"></span>
    </div>
    <div class="top-border-line primary-separator"></div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-primary font-weight-bold">Register</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
