@model VinetkiBG.Models.ViewModels.ViolationDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center font-weight-bold mx-5">Violation Details</h1>
<div class="d-flex justify-content-center w-75 mx-auto mt-5">
    <table class="table table-responsive">
        <thead class="bg-primary text-light font-weight-bold">
            <tr class="text-center">
                <th scope="col">Violation Id</th>
                <th scope="col">Violation Type</th>
                <th scope="col">Violation Road</th>
                <th scope="col">Date of Violation</th>
                <th scope="col">Amount of violation</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="table-bordered table-active table-light  font-weight-bold">
            <tr>
                <td>@Model.Id</td>
                <td>@Model.ViolationType</td>
                <td>@Model.Road</td>
                <td>@Model.ViolationDate</td>
                <td>@Model.PenaltyAmount</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
</div>


